* {
    margin: 0px;
}

.container {
    display: grid;
    background-color: #8971d0;
    color: black;
    text-align: center;
    gap: 2rem;
    grid-column: 1fr 1.5fr 1.5fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 5;
    grid-row: 1;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 1rem;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    border: 3px solid red;
}

.sidebar-title {
    padding: .5rem;
    grid-row: 1;
}

.items-container {
    display: grid;
    height: 100%;
    /* border: solid red 3px; */
    grid-row: repeat(1fr 1fr 1fr);
    gap: 5rem;
}

.items-maincontent {
    padding: 0px 0px 0px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    grid-row: 2;
    margin-top: -50px;
}

.items-maincontent img {
    height: 30px;
    width: auto;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-content {
    border: 3px solid red;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    min-width: 500px;
}

.content1 {
    grid-column: 1;
}
.content2 {
    grid-column: 2;
}
.content3 {
    grid-column: 3;
}

.announcement {
    grid-column: 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    min-width: 400px;
    height: 300px;
}

.line {
    height: 1px;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 90%;
    margin: auto;
}

.feedback {
    grid-column: 4;
    grid-row: 4 / 6;
    height: 300px;
    background-image: url(Images/Feedback.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.footer-container {
    border: 3px solid red;
    grid-column: 2 / 4;
    grid-row: 4 / 6;
}

.main-content img {
    width: 100%;
    height: auto;
}

img[src*="Bell.png"] {
    height: 40px;
    width: 40px;
    margin-bottom: -35px;
}

img[src*="Profile.png"] {
    height: 60px;
    width: 60px;
}

img[src*="Github.png"] {
    height: 60px;
    width: 60px;
}

img[src*="Searchbar.png"] {
    height: 20px;
    width: 20px;
    margin-bottom: -5px;
    gap: 10px;
}
